.button {
    margin-top: 4px;
    margin-left: 4px;
}

footer img{
    height: 100px;
    width: 110px;
    margin-top: 218px;
}

.texto {
    text-align: center;
    margin-top: 20%;
    text-shadow: 3px 2px 3px black;
}